<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="/"
          >Lego Collection</a
        >
      </div>

      <div class="navbar-center hidden sm:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a class="active" href="/about">About</a></li>
          <li>
            <details>
              <summary>Theme</summary>
              <ul class="p-2 bg-base-100 right-0">
                <li><a href="/lego/sets?theme=icons">icons</a></li>
                <li><a href="/lego/sets?theme=playhouse">Playhouse</a></li>
                <li><a href="/lego/sets?theme=technic">technic</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </div>

      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost sm:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-6 h-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            />
          </svg>
        </label>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li><a href="/about">About</a></li>

          <li>
            <details>
              <summary>Theme</summary>
              <ul class="p-2 bg-base-100">
                <li><a href="/lego/sets?theme=icons">Icons</a></li>
                <li><a href="/lego/sets?theme=playhouse">Playhouse</a></li>
                <li><a href="/lego/sets?theme=technic">Technic</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </div>

    <div class="container w-full mx-auto px-4">
      <div class="grid grid-cols-1 mb-4">
        <div class="border-2 p-4 text-2xl text-center">About Me</div>
        <p>Everything you want to know about me - the designer & developer.</p>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div class="border-2">
          <img
            src="/images/bird-7915772_1280.jpg"
            alt="A bird in nature"
            class="w-full h-auto"
          />
        </div>

        <div class="border-2 p-4">
          <p class="text-lg">
            My name is Reginald Bernardo and I'm currently in the third semester
            studying at Seneca Polytechnic in the CPA program. I like to listen
            to music, watch sports, and watch TV series and anime.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
