<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('partials/navbar', {page: '/lego/addSet' }) %>
    <div class="hero bg-base-200 min-h-screen">
      <div class="hero-content text-center">
        <div class="max-w-2xl">
          <!-- Updated header text -->
          <h1 class="text-4xl font-bold mb-6">Collection</h1>

          <form method="post" action="/lego/addSet">
            Name<br />
            <input type="text" name="name" required /><br /><br />

            Year<br />
            <input type="number" name="year" required /><br /><br />

            Number of parts<br />
            <input type="number" name="num_parts" required /><br /><br />

            Image url<br />
            <input
              type="url"
              name="img_url"
              id="url"
              placeholder="https://cdn.rebrickable.com/media/sets/10132-1.jpg"
              required
            /><br /><br />

            Theme name<br />
            <select name="theme_id" size="3" required>
              <% themes.forEach(theme => { %>
              <option value="<%= theme.id %>"><%= theme.name %></option>
              <% }); %>
            </select>
            <br /><br />

            Set number<br />
            <input type="text" name="set_num" required /><br /><br />

            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
