<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lego Collection</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('partials/navbar', {page:'/'}) %>

    <div class="container mx-auto">
      <div class="hero bg-base-200 min-h-screen">
        <div class="hero-content text-center">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">Hello there</h1>
            <p class="py-6">
              Build memories with our amazing Lego collection! Discover sets
              that bring joy to every age.
            </p>
            <a class="btn btn-neutral" href="/lego/sets"> Get Started </a>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-3 mb-4">
        <div class="card w-96 bg-base-100 shadow-xl">
          <figure>
            <img
              class="w-full"
              src="https://cdn.rebrickable.com/media/sets/010423-1.jpg"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Icons</h2>
            <p>
              Discover Lego Icons! Dive into our collection of iconic sets that
              inspire creativity and nostalgia.
            </p>
            <div class="card-actions justify-end">
              <a class="btn btn-primary" href="/lego/sets/010423-1">
                View Now
              </a>
            </div>
          </div>
        </div>

        <div class="card w-96 bg-base-100 shadow-xl">
          <figure>
            <img
              class="w-full"
              src="https://cdn.rebrickable.com/media/sets/041-2.jpg"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Playhouse!</h2>
            <p>
              Discover the magic of play with the Lego Playhouse collection!
              Build, imagine, and explore.
            </p>
            <div class="card-actions justify-end">
              <a class="btn btn-primary" href="/lego/sets/028-1"> View Now </a>
            </div>
          </div>
        </div>

        <div class="card w-96 bg-base-100 shadow-xl">
          <figure>
            <img
              class="w-full"
              src="https://cdn.rebrickable.com/media/sets/001-1.jpg"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Technic</h2>
            <p>
              Build like a pro! Discover the Lego Technic collection for
              high-performance sets and realistic features.
            </p>
            <div class="card-actions justify-end">
              <a class="btn btn-primary" href="/lego/sets/001-1"> View Now </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
